@import url("global.css");

body {
  text-align: center;
  height: 100dvh;
}

main {
  height: 100%;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-orange-700);
  border-radius: 8px;
  padding: 12px 24px;
  width: max-content;
  gap: 12px;
}

.error-messages {
  margin: 0;
  padding-left: 12px;
}

.error-messages li {
  font-size: 8px;
  color: var(--color-black);
  text-align: left;
  list-style-position: outside;
}

.input-field,
.error-messages {
  width: 240px;
}

@media screen and (min-width: 768px) {
  form {
    gap: 20px;
  }

  .logo {
    height: 24px;
  }

  .error-messages li {
    font-size: 10px;
  }

  .input-field {
    padding: 8px 8px;
  }

  .input-field,
  .error-messages {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  form {
    gap: 28px;
  }

  .logo {
    height: 28px;
  }

  .error-messages li {
    font-size: 12px;
  }

  .input-field,
  .error-messages {
    width: 360px;
  }
}
